    <div class="ui raised red inverted left floated segment" style="padding-left:0; padding-right: 0">
  
 
        <H2 class="ui inverted header center aligned" style="margin-right: 5%; margin-left: 5%">Lernmodus</H2>

      <!-- <div class="item" >--> 
        <div class="ui cards" style="margin:2%"  *ngFor="let x of questions">
                <div class="card">
                    <div class="content">
                  <div class="ui sub header">
               
                 <i class="question circle outline icon"></i>  
                   <div class="content"> 
                      {{x.Question}}
                    </div></div>   
                 <div class="description">Wähle eine Antwort:<br>
                  <ng-container *ngFor="let index of x.AnswerOptions">
                       {{index}}<br></ng-container>  
                    </div>
                  </div>
                  <div class="extra content">
                    <div class="ui two buttons">
                      <div class="ui basic green button">Zurück</div>
                      <div class="ui basic red button">Vorwärts</div>
                    </div>
                  </div>
                </div></div>
      
 
        <a routerLink="" class="ui right attached button" style="margin-left: 0">Home</a>

    </div>

