<div class="ui raised red inverted floated segment" style="padding-left:0; padding-right: 0">

        <h2 class="ui inverted header" style="padding-left: 5%">
            <i class="inverted clipboard list icon"></i>
            <div class="content">
                Auswertung
            </div>
        </h2>

        <h2 class="ui horizontal inverted divider" style="padding-left:5%; padding-right: 5%">Weiter so!</h2>
        <h2 class="ui horizontal inverted divider" style="padding-left:5%; padding-right: 5%">Das geht noch besser!</h2>
        <h2 class="ui horizontal inverted divider" style="padding-left:5%; padding-right: 5%">Es ist noch kein Meister vom Himmel gefallen...</h2>       


        <div class="ui inverted relaxed list" style="margin:5%; margin-top: 10%; margin-bottom: 10%">
                <div class="item">
                        <i class="smile outline large icon"></i>
                  <div class="content">
                    <div class="header">Fragen richtig beantwortet:</div>
                    <div class="description">Platzhalter
                  </div>
                </div></div>

                <div class="item">
                        <i class="frown outline large icon"></i>
                  <div class="content">
                    <div class="header">Fragen falsch beantwortet:</div>
                    <div class="description">Platzhalter
                  </div>
                </div></div>

                <div class="item">
                        <i class="meh outline large icon"></i>
                  <div class="content">
                    <div class="header">Fragen nicht beantwortet:</div>
                    <div class="description">Platzhalter</div>
                  </div>
                </div>
        </div>







        <a routerLink="" class="ui right attached floated button" style="margin-left: 0">Home</a>

</div>