
   
    <div class="ui grid container">
        <div class="column">
        <div class="row">
            <div style="margin: 1%">
                <h2 class="ui header">
                    <i class="hand spock icon"></i>
                    <div class="content">METIS
                        <div class="sub header">Dein Prüfungstrainer</div>
                    </div>
                </h2>
            </div>
        </div>

        <div class="row left floated">
            <router-outlet></router-outlet>
        </div></div>
    </div>

